<p class="alert alert-info float-left" role="alert"
  phx-click="lv:clear-flash"
  phx-value-key="info"><%= live_flash(@flash, :info) %></p>

<p class="alert alert-danger float-left" role="alert"
  phx-click="lv:clear-flash"
  phx-value-key="error"><%= live_flash(@flash, :error) %></p>

<%= @inner_content %>
